<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Cerámica Padilla Padilla" %></title>
    <%= stylesheet_link_tag "foundation" %>
    <%= stylesheet_link_tag "foundation-icons" %>
    <%= stylesheet_link_tag "blueimp-gallery" %>
    <%= stylesheet_link_tag "app" %>
  </head>

  <body>
    <nav class="overlay-nav" role="navigation">
      <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <li><a href="/en" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Home</a></li>
        <li><a href="/en/catalog" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Catalog</a></li>
        <li><a href="/en/who-are-we" class="<%= "is-active" if current_page.data.active_tab == "who" %>">Who are we?</a></li>
        <li><a href="/en/where-are-we" class="<%= "is-active" if current_page.data.active_tab == "where" %>">Where are we?</a></li>
        <li><a href="/en/contact-us" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contact us</a></li>
      </ul>
      <a data-toggle-menu class="overlay-nav-menu-toggle open" href="#overlay-nav-menu"><i class="fi-list"></i></a>
      <a data-toggle-menu class="overlay-nav-menu-toggle close" href="#overlay-nav-menu"><i class="fi-x"></i></a>
    </nav>
    <header class="subnav-hero-section">
      <%= image_tag "white-logo.png", class: "logo" %>
      <h1 class="subnav-hero-headline">Cerámica Padilla Padilla</h1>
      <ul class="subnav-hero-subnav">
        <li><a href="/en" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Home</a></li>
        <li><a href="/en/catalog" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Catalog</a></li>
        <li><a href="/en/who-are-we" class="<%= "is-active" if current_page.data.active_tab == "who" %>">Who are we?</a></li>
        <li><a href="/en/where-are-we" class="<%= "is-active" if current_page.data.active_tab == "where" %>">Where are we?</a></li>
        <li><a href="/en/contact-us" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contact us</a></li>
      </ul>
    </header>

    <div class="grid-container">
      <%= yield %>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <div class="description"></div>
    </div>

    <%= javascript_include_tag "foundation" %>
    <%= javascript_include_tag "blueimp-gallery" %>
    <%= javascript_include_tag "app" %>
  </body>
</html>
