<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Cerámica Padilla Padilla" %></title>
    <%= stylesheet_link_tag "foundation" %>
    <%= stylesheet_link_tag "foundation-icons" %>
    <%= stylesheet_link_tag "blueimp-gallery" %>
    <%= stylesheet_link_tag "blueimp-gallery-indicator" %>
    <%= stylesheet_link_tag "app" %>
  </head>

  <body>
    <nav class="overlay-nav" role="navigation">
      <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <li><a href="/fr" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Accueil</a></li>
        <li><a href="/fr/catalogue" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Catalogue</a></li>
        <li><a href="/fr/qui-sommes-nous" class="<%= "is-active" if current_page.data.active_tab == "who" %>">Qui sommes-nous ?</a></li>
        <li><a href="/fr/ou-sommes-nous" class="<%= "is-active" if current_page.data.active_tab == "where" %>">Ou sommes-nous ?</a></li>
        <li><a href="/fr/contactez-nous" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contactez-nous</a></li>
      </ul>
      <a data-toggle-menu class="overlay-nav-menu-toggle open" href="#overlay-nav-menu"><i class="fi-list"></i></a>
      <a data-toggle-menu class="overlay-nav-menu-toggle close" href="#overlay-nav-menu"><i class="fi-x"></i></a>
    </nav>
    <header class="subnav-hero-section">
      <h1 class="subnav-hero-headline">Cerámica Padilla Padilla</h1>
      <ul class="subnav-hero-subnav">
        <li><a href="/fr" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Accueil</a></li>
        <li><a href="/fr/catalogue" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Catalogue</a></li>
        <li><a href="/fr/qui-sommes-nous" class="<%= "is-active" if current_page.data.active_tab == "who" %>">Qui sommes-nous ?</a></li>
        <li><a href="/fr/ou-sommes-nous" class="<%= "is-active" if current_page.data.active_tab == "where" %>">Ou sommes-nous ?</a></li>
        <li><a href="/fr/contactez-nous" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contactez-nous</a></li>
      </ul>
    </header>

    <div class="grid-container">
      <%= yield %>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    <%= javascript_include_tag "foundation" %>
    <%= javascript_include_tag "blueimp-gallery" %>
    <%= javascript_include_tag "blueimp-gallery-indicator" %>
    <%= javascript_include_tag "app" %>
  </body>
</html>
