<!doctype html>
<html class="no-js" lang="<%= current_page.data.lang || "es" %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Cerámica Padilla Padilla" %></title>
    <%= stylesheet_link_tag "app" %>
  </head>

  <body>
    <div class="grid-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "app" %>
  </body>
</html>
