<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_tag "favicon.png" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title><%= current_page.data.title || "Cerámica Padilla Padilla" %></title>
    <%= stylesheet_link_tag "foundation" %>
    <%= stylesheet_link_tag "foundation-icons" %>
    <%= stylesheet_link_tag "blueimp-gallery" %>
    <%= stylesheet_link_tag "app" %>
  </head>

  <body>
    <div class="header-for-dummies">
      <i class="fi-telephone"></i> (+34) 953 678 087
      |
      <a target="_blank" class="facebook" href="https://www.facebook.com/ceramica.padillapadilla.7"><i class="fi-social-facebook"></i></a>
    </div>
    <nav class="overlay-nav" role="navigation">
      <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <li><a href="/" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Inicio</a></li>
        <li><a href="/catalogo" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Cat&aacute;logo</a></li>
        <li><a href="/quienes-somos" class="<%= "is-active" if current_page.data.active_tab == "who" %>">¿Qui&eacute;nes somos?</a></li>
        <li><a href="/donde-estamos" class="<%= "is-active" if current_page.data.active_tab == "where" %>">¿D&oacute;nde estamos?</a></li>
        <li><a href="/contacto" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contacto</a></li>
      </ul>
      <a data-toggle-menu class="overlay-nav-menu-toggle open" href="#overlay-nav-menu"><i class="fi-list"></i></a>
      <a data-toggle-menu class="overlay-nav-menu-toggle close" href="#overlay-nav-menu"><i class="fi-x"></i></a>
    </nav>
    <header class="subnav-hero-section">
      <% link_to "/" do %>
        <%= image_tag "white-logo.png", class: "logo" %>
      <% end %>
      <% link_to "/" do %>
        <h1 class="subnav-hero-headline">Cerámica Padilla Padilla</h1>
      <% end %>
      <ul class="subnav-hero-subnav">
        <li><a href="/" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Inicio</a></li>
        <li><a href="/catalogo" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Cat&aacute;logo</a></li>
        <li><a href="/quienes-somos" class="<%= "is-active" if current_page.data.active_tab == "who" %>">¿Qui&eacute;nes somos?</a></li>
        <li><a href="/donde-estamos" class="<%= "is-active" if current_page.data.active_tab == "where" %>">¿D&oacute;nde estamos?</a></li>
        <li><a href="/contacto" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contacto</a></li>
      </ul>
    </header>

    <div class="grid-container">
      <%= yield %>
    </div>

    <footer class="cpp">
      <%= image_tag "red-logo.png" %>
      <span>Cer&aacute;mica Padilla Padilla</span>
    </footer>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <div class="description"></div>
    </div>

    <%= javascript_include_tag "foundation" %>
    <%= javascript_include_tag "blueimp-gallery" %>
    <%= javascript_include_tag "app" %>
  </body>
</html>
