<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:og) %>
      <%= yield_content(:og) %>
    <% end %>
    <%= favicon_tag "favicon.png" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title><%= current_page.metadata[:locals][:title] || current_page.data.title || "Cerámica Padilla Padilla" %></title>
    <%= stylesheet_link_tag "blueimp-gallery" %>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/8c428ac272.js", crossorigin: "anonymous" %>
  </head>

  <body>
    <header class="subnav-hero-section">
      <div class="header-for-dummies">
        <i class="fas fa-phone-alt"></i> (+34) 953 678 087
        |
        <a target="_blank" class="facebook" href="https://www.facebook.com/ceramica.padillapadilla.7"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="logo-and-title">
        <% link_to "/" do %>
          <%= image_tag "white-logo.png", class: "logo" %>
        <% end %>
        <% link_to "/" do %>
          <h1 class="subnav-hero-headline">Cerámica Padilla Padilla</h1>
        <% end %>
      </div>
      <nav class="subnav-hero-subnav"><ul>
        <li><a href="/" class="<%= "is-active" if current_page.data.active_tab == "home" %>">Inicio</a></li>
        <li><a href="/catalogo" class="<%= "is-active" if current_page.data.active_tab == "catalog" %>">Cat&aacute;logo</a></li>
        <li><a href="/quienes-somos" class="<%= "is-active" if current_page.data.active_tab == "who" %>">¿Qui&eacute;nes somos?</a></li>
        <li><a href="/donde-estamos" class="<%= "is-active" if current_page.data.active_tab == "where" %>">¿D&oacute;nde estamos?</a></li>
        <li><a href="/contacto" class="<%= "is-active" if current_page.data.active_tab == "contact" %>">Contacto</a></li>
      </ul></nav>
      <button href="#" class="overlay-nav-menu-toggle"><span class="hamburger"></span></button>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="cpp">
      <%= image_tag "red-logo.png" %>
      <span>Cer&aacute;mica Padilla Padilla</span>
    </footer>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev"></a>
      <a class="next"></a>
      <a class="close"></a>
      <div class="caption">
        <%= link_to "Ver más", "#", class: "button small" %>
      </div>
    </div>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "blueimp-gallery" %>
    <%= javascript_include_tag "app" %>
  </body>
</html>
