---
active_tab: catalog
---

<% content_for :og do %>
  <meta property="og:title" content="<%= product.name %>">
  <meta property="og:description" content="<%= product.description %>">
  <meta property="og:image" content="https://ceramicapadilla.es<%= image_path("product/#{product.id}/#{product.slug}.jpg") %>">
  <meta property="og:url" content="https://ceramicapadilla.es/catalogo/<%= category.slug %>/productos/<%= product.id %>-<%= product.slug %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Cerámica Padilla Padilla">
  <meta name="twitter:image:alt" content="<%= product.name %>">
<% end %>

<div class="product-wrapper">
  <h2><%= product.name %></h2>

  <div class="photo-and-description">
    <div class="photo">
      <%= image_tag "product/#{product.id}/#{product.slug}.jpg", class: "full-width" %>
    </div>
    <div class="description">
      <%= simple_format product.description %>
    </div>
  </div>

  <% if category.slug == "modelos-de-jardineria" %>
    <% another_category = data.categories.detect { |c| c.slug == "decoraciones-de-jardineria" } %>

    <h3>
      Disponible en todas las
      <%= link_to another_category.name, "/catalogo/#{another_category.slug}/productos" %>
    </h3>

    <div class="photos small">
      <% another_category.products.each do |product| %>
        <div class="photo-wrapper">
          <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo" do %>
            <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if category.slug == "decoraciones-de-jardineria" %>
    <% another_category = data.categories.detect { |c| c.slug == "modelos-de-jardineria" } %>

    <h3>
      Disponible para todos los
      <%= link_to another_category.name, "/catalogo/#{another_category.slug}/productos" %>
    </h3>

    <div class="photos small">
      <% another_category.products.each do |product| %>
        <div class="photo-wrapper">
          <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo" do %>
            <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if category.slug == "modelos-de-menaje" %>
    <% another_category = data.categories.detect { |c| c.slug == "decoraciones-de-menaje" } %>

    <h3>
      Disponible en todas las
      <%= link_to another_category.name, "/catalogo/#{another_category.slug}/productos" %>
    </h3>

    <div class="photos small">
      <% another_category.products.each do |product| %>
        <div class="photo-wrapper">
          <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo" do %>
            <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if category.slug == "decoraciones-de-menaje" %>
    <% another_category = data.categories.detect { |c| c.slug == "modelos-de-menaje" } %>

    <h3>
      Disponible para todos los
      <%= link_to another_category.name, "/catalogo/#{another_category.slug}/productos" %>
    </h3>

    <div class="photos small">
      <% another_category.products.each do |product| %>
        <div class="photo-wrapper">
          <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo" do %>
            <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Volver a #{category.name}", "/catalogo/#{category.slug}/productos", class: "button expanded" %>
</div>
