---
active_tab: catalog
---

<% content_for :og do %>
  <meta property="og:title" content="<%= product.name %>">
  <meta property="og:description" content="<%= product.description %>">
  <meta property="og:image" content="https://ceramicapadilla.es<%= image_path("product/#{product.id}/#{product.slug}.jpg") %>">
  <meta property="og:url" content="https://ceramicapadilla.es/catalogo/<%= category.slug %>/productos/<%= product.id %>-<%= product.slug %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Cerámica Padilla Padilla">
  <meta name="twitter:image:alt" content="<%= product.name %>">
<% end %>

<div class="product-wrapper">
  <h2><%= product.name %></h2>

  <div class="photo-and-description">
    <div class="photo">
      <%= image_tag "product/#{product.id}/#{product.slug}.jpg", class: "full-width" %>
    </div>
    <div class="description">
      <%= simple_format product.description %>
    </div>
  </div>

  <% if category.decorations_category_slug %>
    <%= partial "decorations_category", locals: { another_category: data.categories.detect { |c| c.slug == category.decorations_category_slug } } %>
  <% end %>

  <% if category.models_category_slug %>
    <%= partial "models_category", locals: { another_category: data.categories.detect { |c| c.slug == category.models_category_slug } } %>
  <% end %>

  <%= link_to "Volver a #{category.name}", "/catalogo/#{category.slug}/productos", class: "button expanded" %>
</div>
